* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
} 

.cabecalho {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 10px;
    background-color: #344955;
    color: #ddd;
    border-radius: 20px;
}


.titleAsset{
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    color:#ddd;
    background-color: #4a6572;
    text-align: center;
}

.titleAssetTable{
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    color: #ddd;
    background-color: #4a6572;
    text-align: center;
}

.assetcodetext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    background-color: #f9aa33;
    border-radius: 10px;
}

#newName {
    width: 30%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#newSymbol {
    width:  10%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#newQuantity {
    width: 10%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#newPrice {
    width: 10%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
label {
    padding: 10px;
    font-size: 16px;
}

.btn{
    display: flex;
    justify-content: center;
}

.addAssetBtn {
    padding: 9px 10px;
    background-color: #f9aa33;
    border-radius: 5px;
    border: none;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.addAssetBtn:hover {
    background-color: #fc9;
    color: #000;
}


table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    padding: 12px 8px 12px 10px;
    font-size: 16px;
    color: #eee;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: #232f34;
    width: 90%;
}

tr:nth-child(odd){
    background-color: #344955;
}

tr:hover {
    background-color: #4a6572;
}
  